.about {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #0a2850;
  z-index: 0;
  color: white;
}

.about__title {
  margin-top: 100px;
  margin-left: 80px;
  max-width: 251px;
  z-index: 2;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  z-index: 2;
  margin-top: 119px;
  margin-right: 80px;
  margin-bottom: 173px;
  margin-left: auto;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  gap: 20px;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #1878dc;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
