.form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__input {
  min-width: 385px;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 30px;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
}

.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding-top: 32px;
}

.form__button {
  width: 385px;
  padding: 15px 20px;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
}
