.form {
  max-width: 385px;
}

.form__fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
}

.form__input {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
}

.form__input-checkbox {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_checkbox {
  margin: 0;
  display: flex;
  gap: 12px;
  justify-content: center;
  padding-top: 32px;
}

.form__button {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
}
