.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__logo {
  padding-top: 30px;
  padding-right: 30px;
  min-width: 105px;
  min-height: 39px;
}
