.recipes {
  position: relative;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: background-scale 5s infinite alternate ease-in-out;
  height: 900px;
}

@keyframes background-scale {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

.recipes__header {
  display: flex;
  margin-left: 80px;
  margin-top: 100px;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}