.page {
  position: relative;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__logo {
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  min-width: 105px;
  min-height: 39px;
}

.header__title {
  max-width: 729px;
  margin-top: 213px;
  margin-left: 80px;
  margin-bottom: 28px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  color: #6f6f6f;
  margin-top: auto;
}

.header__footer-hours {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__footer-item {
  margin: 0;
  padding: 0;
}

.header__footer-address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.recipes {
  position: relative;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: background-scale 5s infinite alternate ease-in-out;
  height: 900px;
}

@keyframes background-scale {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

.recipes__header {
  display: flex;
  margin-left: 80px;
  margin-top: 100px;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 10px;
  animation: background-scale 20s infinite alternate ease-in-out;
  height: auto;
}

@keyframes background-scale {
  0% {
    background-size: 70%;
  }
  100% {
    background-size: 100%;
  }
}

.reservation__title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 385px;
  align-items: center;
  border: none;
}

.reservation__form-items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 385px;
  align-items: center;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 385px;
  margin: 0 auto;

  input {
    min-width: 385px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  button {
    width: 385px;
    padding: 15px 20px;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #1878dc;
  }
}

.reservation__form {
  display: flex;
  justify-content: center;
}

.reservation__form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.reservation__form-items input {
  min-width: 385px;
  padding: 15px 20px;
  box-sizing: border-box;
}

.reservation__form-name {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reservation__form-guests {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.reservation__form-date-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reservation__form-date-time-input {
}

.reservation__form-email {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.reservation__form-button {
}

.reservation__form-button:hover {
  background-color: #3f96f3;
}

.reservation__checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  padding-bottom: 120px;
  max-width: none;
}

.reservation__checkbox-container input[type="checkbox"] {
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin: 0;
  background-image: url("/path/to/your/checkmark-image.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.reservation__form-checkbox-container input[type="checkbox"]:checked {
  background-image: url("/images/check.svg");
  background-color: #1878dc;
}

.reservation__form-checkbox-label {
  white-space: nowrap;
}
